<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>Information om flagan</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/base.css" />
  </head>
  <body>
    <div id="container" class="flags">
      <div class="info">
        <h1>Alla flagor som finns!</h1>
        <ul>
          {{#flags}}
          <li>
            <a href="./flag/{{alias}}">{{title}}</a>
            <strong>🏅{{points}}</strong>
          </li>
          {{/flags}}
        </ul>
        <div id="toIndex"><a href="/">Index 🏠</a></div>
      </div>
    </div>
  </body>
</html>
