<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>Flaggan är hittat 🚩😄</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/base.css" />
  </head>
  <body>
    <div id="container">
      <h1>Flaggan är hittat 🚩😄</h1>
      <h1>{{title}}</h1>
      <h2>{{points}}</h2>
      <p>{{description}}</p>
      <div id="toIndex"><a href="/">Index 🏠</a></div>
    </div>
  </body>
</html>
