<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>Information om flagan</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../css/base.css" />
  </head>
  <body>
    <div id="container">
      <div class="flag">
        <h1><strong class="points">{{points}}</strong>{{title}}</h1>
        <h2>{{symbol}}</h2>
        <p>{{description}}</p>
      </div>
      <div id="toIndex"><a href="/">Index 🏠</a></div>
    </div>
  </body>
</html>
