<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>Not allowed</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/base.css" />
  </head>
  <body>
    <div id="container">
      <h1>🔒 Not allowed for {{user}} 🔒</h1>
      <div id="toIndex"><a href="/">Index 🏠</a></div>
    </div>
  </body>
</html>
