<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>Information om flagan</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../css/base.css" />
  </head>
  <body>
    <div id="container">
      <div class="flag">
        <h1>{{user}}</h1>
        <h2>🏅 {{points}}</h2>
        {{#flags}}
        <li>
          <a href="./flag/{{alias}}">{{title}}</a> <strong>🏅{{points}}</strong>
        </li>
        {{/flags}}
      </div>
      <div id="toIndex"><a href="/">Index 🏠</a></div>
    </div>
  </body>
</html>
