<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>Information om Användare</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/base.css" />
  </head>
  <body>
    <div id="container">
      <h1>Användare</h1>
      <ul>
        {{#user}}
        <li><strong>{{alias}}</strong> - {{role}}</li>
        {{/user}}
      </ul>
      <div id="toIndex"><a href="/">Index 🏠</a></div>
    </div>
  </body>
</html>
