body {
  margin: 0;
  padding: 0;
  background-color: green;
}

#container {
  color: green;
  background-color: seashell;
  padding: 0;
  padding-left: 5vw;
  padding-right: 5vw;
  margin: 0;
  margin-left: 20vw;
  margin-right: 20vw;
  border-left: solid black;
  border-right: solid black;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#container.login h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vmin;
}

#container.flagInput {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container.flagInput h1 {
  font-size: 5vw;
}

#container.flagInput form {
  font-size: 2vw;
}

#container.flags {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#container .flag h1 {
  margin: 0;
  padding-top: 3vh;
}

input[type="text"] {
  font-size: 1.5vw;
}

input[type="submit"] {
  font-size: 1.5vw;
}

#container.index {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flag strong.points {
  border: solid black;
  border-radius: 200px;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-right: 1vw;
  background-color: yellow;
}

.flag p {
  font-size: 1vw;
}

#container.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

#toIndex {
  position: fixed;
  bottom: 25px;
  color: green;
  font-size: 20px;
  :visited {
    color: inherit;
  }
}

div.dialog {
  border: solid black;
  padding: 2vw;
  background-color: white;
  display: flex;
  flex-direction: column;
}

div.dialog h1 {
  font-size: 2vmin;
  padding: 0;
  padding-bottom: 1vh;
  margin: 0;
}

div.dialog form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vh;
}

div.dialog input[type="text"] {
  font-size: 1vw;
}

div.dialog input[type="password"] {
  font-size: 1vw;
}

div.dialog input[type="submit"] {
  font-size: 1vw;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vmin;
}

ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vmin;
}
